/*==_=======_======================_=====
 __| |___  | |   ___  __ _ ___ _ _(_)___
/ _` / -_) | |__/ _ \/ _` / -_) '_| / -_)
\__,_\___| |____\___/\__, \___|_| |_\___|
=====================|___/===============
Powered by HTML5, CSS3, jQuery, Modernizr
  Bootstrap, HTML5Boilerplate, Initializr
=======================================*/

/* Normal (Large Desktop) layout */
body {
	padding-top: 65px;
	background-color: #333333;
	background: url(/img/wild_oliva.png) top left repeat;
	font-family: 'Lora', serif;
	font-size: 15px;
	line-height: 20px;
	color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
  margin: .6em 0;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 2px;
  color: inherit;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
}
h1 {
	font-size: 1.4em;
}
h2 {
	font-size: 1.1em; margin: 1em 0;
}
p {
	margin: 0 0 1.5em;
	line-height: 1.5;
}
a {
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	color: #f58220;
	text-decoration: underline;
}
.delogerie {
	color:  #f58220;
}

/* Menu and Logo */
.logo {
	position: fixed;
	right: 50px;
	z-index: 1400;
}
.navbar {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}
.navbar-inverse .navbar-inner {
	background: #000000;
	height: 65px;
}
.lang {
	position: absolute;
	top: 70px;
	left: 10px;
	z-index: 999;
}
.lang {
	margin: 0px; padding: 0px;
	list-style: none;
}
.lang #nl, .lang #en {
	margin-top: 5px;
	display: block;
	width: 16px;
	height: 11px;
	background: url(../img/nl.png);
}
.lang #en {
	background: url(../img/gb.png);
}
.lang span {
	display: none;
}
.nav {
	list-style: none;
	padding: 0px; margin: 0px;
	background: #000000;
}
.navbar .nav li {
	line-height: 65px;
	padding: 0px 10px;
}
.navbar .nav li:first-of-type {
	padding-left: 0px;
}
.navbar .nav li a {
	padding: 0px;
	color: #878787;
}
.navbar .nav li a:hover,
.navbar .nav li.active a {
	color: #ffffff;
}

/* Carousel */
.carousel {
	margin: 0px;
}
.carousel-control {
  top: 50%;
  left: 10px;
  color: #000000;
  border: 0px;
  background: transparent;
}
.carousel-control.right {
  left: auto;
  right: 10px;
}
.carousel-control:hover {
	color: #f58220;
}
.carousel-inner .item img {
	width: 100%;
}

/* Address */
.address {
	background: #000000;
	margin-top: 0px;
	font-size: .8em;
	height: 40px;
}
.address .vcard,
.address .vcard div {
	display: inline;
}
.address .org,
.address .street-address,
.address .postal-code,
.address .locality,
.address .email,
.address .tel {
	line-height: 40px;
	text-transform: uppercase;
	padding-left: 1em;
	padding-right: 1em;
}
.address .org {
	padding-left: 0;
}
.address .org,
.address .street-address,
.address .postal-code {
	border-right: 1px solid #ffffff;
}
.address div.pull-right {
	display: block;
	float: right;
}
.address .email,
.address .tel {
	text-transform: lowercase;
}
.address a.email {
	color: #f58220;
}
.address a.email:hover {
	color: #f58220;
	text-decoration: none;
}

/* Text */
#welkom,
#bedandbreakfast,
#groepsaccommodatie,
#impressie,
#tarieven,
#recensies,
#omgeving {
	padding-top: 65px;
	margin-bottom: 12em;
}
#bedandbreakfast h1,
#groepsaccommodatie h1,
#impressie h1,
#tarieven h1,
#recensies h1,
#omgeving h1 {
	text-align: center;
	background: url(/img/pixel.gif) 0px 10px repeat-x;
	margin-bottom: 2em;
}
#bedandbreakfast h1 span,
#groepsaccommodatie h1 span,
#impressie h1 span,
#tarieven h1 span,
#recensies h1 span,
#omgeving h1 span {
	padding: 0 .5em;
	background: url(/img/wild_oliva.png) top left repeat;
}
#welkom p {
	font-size: 1.2em;
}
#contact {
	padding-top: 4em;
	padding-bottom: 14em;
	background-color: #333333;
	border-top: 1px #ffffff solid;
}
#contact .org {
	font-weight: bold;
}
#contact label {
	clear: both;
}
#contact input,
#contact textarea {
	float: right;
}
#impressie a.fancybox {
	display: inline-block;
	width: 140px; height: 140px;
	background-image: url(/img/hovercraftNew.jpg);
	border: 0px; padding: 0px;
	-webkit-transition: none;
       -moz-transition: none;
         -o-transition: none;
            transition: none;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}
#impressie a#tn1  { background-position:    0px    0px; }
#impressie a#tn2  { background-position: -140px    0px; }
#impressie a#tn3  { background-position: -280px    0px; }
#impressie a#tn4  { background-position: -420px    0px; }
#impressie a#tn5  { background-position: -560px    0px; }
#impressie a#tn6  { background-position: -700px    0px; }
#impressie a#tn7  { background-position: -840px    0px; }
#impressie a#tn8  { background-position:    0px -280px; }
#impressie a#tn9  { background-position: -140px -280px; }
#impressie a#tn10 { background-position: -280px -280px; }
#impressie a#tn11 { background-position: -420px -280px; }
#impressie a#tn12 { background-position: -560px -280px; }
#impressie a#tn13 { background-position: -700px -280px; }
#impressie a#tn14 { background-position: -840px -280px; }

#impressie a#tn15 { background-position:    0px -560px; }
#impressie a#tn16 { background-position: -140px -560px; }
#impressie a#tn17 { background-position: -280px -560px; }
#impressie a#tn18 { background-position: -420px -560px; }
#impressie a#tn19 { background-position: -560px -560px; }
#impressie a#tn20 { background-position: -700px -560px; }
#impressie a#tn21 { background-position: -840px -560px; }

#impressie a#tn22 { background-position: 0px -840px; }
#impressie a#tn23 { background-position: -140px -840px; }
#impressie a#tn24 { background-position: -280px -840px; }

#impressie a#tn1:hover  { background-position:    0px -140px; }
#impressie a#tn2:hover  { background-position: -140px -140px; }
#impressie a#tn3:hover  { background-position: -280px -140px; }
#impressie a#tn4:hover  { background-position: -420px -140px; }
#impressie a#tn5:hover  { background-position: -560px -140px; }
#impressie a#tn6:hover  { background-position: -700px -140px; }
#impressie a#tn7:hover  { background-position: -840px -140px; }
#impressie a#tn8:hover  { background-position:    0px -420px; }
#impressie a#tn9:hover  { background-position: -140px -420px; }
#impressie a#tn10:hover { background-position: -280px -420px; }
#impressie a#tn11:hover { background-position: -420px -420px; }
#impressie a#tn12:hover { background-position: -560px -420px; }
#impressie a#tn13:hover { background-position: -700px -420px; }
#impressie a#tn14:hover { background-position: -840px -420px; }

#impressie a#tn15:hover { background-position:    0px -700px; }
#impressie a#tn16:hover { background-position: -140px -700px; }
#impressie a#tn17:hover { background-position: -280px -700px; }
#impressie a#tn18:hover { background-position: -420px -700px; }
#impressie a#tn19:hover { background-position: -560px -700px; }
#impressie a#tn20:hover { background-position: -700px -700px; }
#impressie a#tn21:hover { background-position: -840px -700px; }

#impressie a#tn22:hover { background-position: 0px -980px; }
#impressie a#tn23:hover { background-position: -140px -980px; }
#impressie a#tn24:hover { background-position: -280px -980px; }

#impressie .row+.row {
	margin-top: 1em;
}

#bedandbreakfast .prices,
#groepsaccommodatie .prices {
	margin-top: 10px;
	margin-bottom: 40px;
}
#groepsaccommodatie .prices th {
	text-align: right;
}
#groepsaccommodatie .highseason { }
#groepsaccommodatie .lowseason { color: silver;  }
#bedandbreakfast .prices td.currency_symbol,
#groepsaccommodatie .prices td.currency_symbol {
	padding-right: 5px;
	width: 100px;
	text-align: right;
}
#bedandbreakfast .prices td.price,
#groepsaccommodatie .prices td.price {
	text-align: right;
}

.recensie {
	height: 18em;
	overflow: hidden;
/*	background: grey; */
}
.recensie .datum {
	display: block;
	margin-bottom: 1em;
	font-style: italic;
}

#recensies .carousel-control {
	color: #ffffff;
}
#recensies .carousel-control:hover {
	color: #f58220;
}
#omgeving a.fancybox {
	display: inline-block;
	width: 140px; height: 140px;
	background-image: url(/img/hovercraftOmgeving.jpg);
	border: 0px; padding: 0px;
	-webkit-transition: none;
       -moz-transition: none;
         -o-transition: none;
            transition: none;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

#omgeving a#tn1  { background-position:    0px    0px; }
#omgeving a#tn2  { background-position: -140px    0px; }
#omgeving a#tn3  { background-position: -280px    0px; }
#omgeving a#tn4  { background-position:    0px -280px; }
#omgeving a#tn5  { background-position: -140px -280px; }
#omgeving a#tn6  { background-position: -280px -280px; }
#omgeving a#tn7  { background-position:    0px -560px; }
#omgeving a#tn8  { background-position: -140px -560px; }
#omgeving a#tn9  { background-position: -280px -560px; }
#omgeving a#tn10 { background-position:    0px -840px; }
#omgeving a#tn11 { background-position: -140px -840px; }
#omgeving a#tn12 { background-position: -280px -840px; }

#omgeving a#tn1:hover  { background-position:    0px -140px; }
#omgeving a#tn2:hover  { background-position: -140px -140px; }
#omgeving a#tn3:hover  { background-position: -280px -140px; }
#omgeving a#tn4:hover  { background-position:    0px -420px; }
#omgeving a#tn5:hover  { background-position: -140px -420px; }
#omgeving a#tn6:hover  { background-position: -280px -420px; }
#omgeving a#tn7:hover  { background-position:    0px -700px; }
#omgeving a#tn8:hover  { background-position: -140px -700px; }
#omgeving a#tn9:hover  { background-position: -280px -700px; }
#omgeving a#tn10:hover { background-position:    0px -980px; }
#omgeving a#tn11:hover { background-position: -140px -980px; }
#omgeving a#tn12:hover { background-position: -280px -980px; }

#contact ul {
	margin: 0; padding: 0;
	list-style: none;
}
#contact ul li {
	display: inline;
}

.book_button {
	display: block;
	padding: .6em;
	background: #f58220;
	border: #ffffff 1px solid;
	border-radius: 10px;
	width: 7em;
	font-family: 'Oswald', sans-serif;
	font-size: 1.8em;
	text-align: center;
}
.book_button:hover {
	color: #ffffff;
}

/* Large desktop */
@media (min-width: 1200px) {
	.logo {
		right: 170px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body {
		padding-top: 0px;
		font-size: 13px;
	}
	.navbar {
		margin-bottom: 0px;
		font-size: 15px;
	}
	.lang {
		top: 80px;
	}
	.navbar .nav {
		padding-left: 1em;
		float: none;
		text-align: center;
	}
	.navbar .nav li {
		display: inline-block;
		float: none;
	}
	.logo {
		display: none;
	}
	#welkom, #bedandbreakfast, #groepsaccommodatie, #impressie, #tarieven, #recensies, #omgeving {
		padding-top: 2em;
		margin-bottom: 1em;
	}
	#impressie .thumbnails {
		margin-left: 30px;
	}
	/* Tekst bij contactgegevens is te lang */
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body {
		padding-top: 0px;
		font-size: 11px;
	}
	.navbar {
		margin-bottom: 0px;
	}
	.lang {
		top: 80px;
	}
	.navbar .nav {
		padding-top: 1em;
		padding-left: 1em;
		float: none;
		text-align: center;
	}
	.navbar .nav li {
		display: inline-block;
		float: none;
	}
	.nav li, .nav li a {
		height: 2em;
		line-height: 2em;
	}
	.logo {
		display: none;
	}
	#moodsetter, .address {
		margin-left: -20px;
		margin-right: -20px;
	}
	.address {
		padding-left: 20px;
	}
	#welkom, #bedandbreakfast, #groepsaccommodatie, #impressie, #tarieven, #recensies, #omgeving {
		padding-top: 2em;
		margin-bottom: 1em;
	}
	.thumbnails li {
		display: inline-block;
	}
	.recensie {
		height: auto;
		padding-left: 5em;
		padding-right: 5em;
	}
	#contact {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#contact label {
		width: 80%;
	}

}

/* Landscape phones and down */
@media (max-width: 480px) {
	body {
		padding-top: 0px;
		font-size: 10px;
	}
	.nav {
		padding: 1em;
	}
	.nav li, .nav li a {
		height: 2em;
		line-height: 2em;
	}
}


/* calendar stuff */
@media (min-width: 1px) {
  iframe {height: 2804px;width:222px}
}
@media (min-widd: 501px) {
  iframe {height: 1410px;width:444px}
}
@media (min-width: 723px) {
  iframe{height: 946px;width:666px}
}
@media (min-width: 945px) {
  iframe {height: 714px;width:888px}
}
@media (min-width: 961px) {
  iframe {height: 714px;width:1110px}
}
@media (min-width: 1332px) {
  iframe {height: 482px;width:100%}
}
